<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>写文章</title>
    <link href="../static/css/blogsheet.css" rel="stylesheet">
    <script src="../static/js/lib/jquery-3.3.1.min.js"></script>
    <script src="../static/js/lib/jquery.url.js"></script>
    <script src="../static/js/blog.js"></script>
</head>
<body>

{{template "block/nav.gohtml" .}}

<div id="main">
    <form id="write-art-form" method="post">
        <div>标题</div>
        <label>
            <input type="text" placeholder="请输入标题" name="title" >
        </label>
        <div>作者</div>
        <label>
            <input type="text" placeholder="请输入作者" name="author" >
        </label>
        <div>标签</div>
        <label>
            <input type="text" placeholder="请输入标签" name="tags" >
        </label>
        <div>简介</div>
        <label>
            <textarea placeholder="请输入简介" name="short"></textarea>
        </label>
        <div>内容</div>
        <label for="content"></label><textarea id="content" placeholder="请输入内容" name="content"></textarea>
        <label for="write-article-id"></label><input id="write-article-id" hidden name="id" >
        <br>
        <button type="button" onclick="history.back()">返回</button>
        <button type="submit" id="write-art-submit">提交</button>
    </form>
</div>

</body>
</html>